<!DOCTYPE html>
<html>
<head>
    <title>Sammich Builder</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>

    <!--JS-->
    <script src="/static/js/app.js"></script>
</head>
<body>




<div id="login-check">
    <div id="title-splash" class="container">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div id="title">
                    <p id="sammich">
                        Sandwich
                    </p>
                    <p id="builder">
                        Builder
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="body-container" class="container col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        <div id="profile-area" class="col-sm-8" >
                <div class="col-sm-12">
                    <div id="craftsmen-name" class="col-sm-6 title-color">
                    </div>
                </div>
                <br>
                <br>
                <div id="profile-content" class="col-sm-12 layout">
                    <div class="col-sm-4">
                        <div id="profile-icon">
                            Icon
                        </div>
                    </div>
                    <div id="sammich-builds" class="col-sm-8">
                        <div id="builds-title" class="text-center col-sm-12"> Sandwich Builds </div><br>
                        <div id="build-note" class="col-sm-12 text-center">Click on a title to view more details</div>
                        <dl id="build-list" class="dl-horizontal">

                        </dl>
                    </div>
                </div>

            </div>
            <div id="vacant" class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div  id="vacant-title" class="title-color">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="vacant-content" class="col-sm-12 layout">

                    </div>
                </div>

            </div>
        </div>

        <div id="build-container" class="container col-sm-12 col-md-12 col-lg-12 layout">
                <div id="wrapper">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav text-right">
                            <li id="instructions" class="current-tab">
                                <a>Instructions &nbsp; &nbsp;</a>
                            </li>
                            <li id="info">
                                <a>Information &nbsp; &nbsp;</a>
                            </li>
                            <li id="materials">
                                <a>Materials &nbsp; &nbsp;</a>
                            </li>
                            <li id="stats">
                                <a>Stats &nbsp; &nbsp;</a>
                            </li>
                            <li id="picture">
                                <a>Picture &nbsp; &nbsp;</a>
                            </li>
                            <li id="directions">
                                <a>Directions &nbsp; &nbsp;</a>
                            </li>
                            <li id="overview">
                                <a>Overview &nbsp; &nbsp;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /#sidebar-wrapper -->

                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div id="instructions-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: block">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="build-header">Instructions</h1>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <p>Instructions to make a sandwich build goes here</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="info-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="build-header">Sandwich Information</h1>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <form id="info-form" class="text-center">
                                                <div id="sandwich-name-container">
                                                    <h3>Sandwich Name</h3>
                                                    <input id="sandwich-name" class="build-input form-control build-form-center build-form-roomy" name="name" type="text" placeholder='&nbsp; e.g. &nbsp;"The Ace of Clubs",  &nbsp; "PByouJelly?"'>
                                                </div>
                                                <h3>Sandwich Description</h3>
                                                <textarea id="sandwich-description" class="form-control build-textarea build-form-center build-form-roomy" name="description" rows="3" placeholder="Description of sandwich"></textarea>
                                                <button type="submit">Add Sandwich Information</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="materials-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="build-header">Sandwich Materials</h1>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <form id="materials-form" class="text-center">
                                                <div id="sandwich-name-container">
                                                    <h3></h3>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <input id="ingredient" class="build-input form-control build-form-center build-form-roomy" type="text" placeholder='&nbsp; e.g. "Salami"'>
                                                    </div>
                                                    <div id="ingredient-buttons" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                                            <button type="submit" class="btn btn default">Add Ingredient</button>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                                                            <button id="save-ingredients" type="button" class="btn btn default" onclick="saveIngredients()">Save Ingredients</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <ul id="ingredients-list" class="list-unstyled">
                                                <li class="ingredient-li">
                                                    Ingredients go here
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="stats-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="build-header">Sandwich Stats</h1>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <form id="stats-form">
                                                <div class="row text-center"><h3  id="rate-header">Rate the taste</h3></div>
                                                <div id="stats-row" class="row">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center" placeholder="1">
                                                        <h4>Sweet</h4>
                                                        <input id="sweet" type="number" min="1" max="99" placeholder="1">
                                                    </div>
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center" placeholder="1">
                                                        <h4>Spicy</h4>
                                                        <input id="spicy" type="number" min="1" max="99" placeholder="1">
                                                    </div>
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center" placeholder="1">
                                                        <h4>Saltiness</h4>
                                                        <input id="saltiness" type="number" min="1" max="99" placeholder="1">
                                                    </div>
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
                                                        <h4>Savory</h4>
                                                        <input id="savory" type="number" min="1" max="99" placeholder="1">
                                                    </div>
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center" placeholder="1">
                                                        <h4>Sour</h4>
                                                        <input id="sour" type="number" min="1" max="99" placeholder="1">
                                                    </div>
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <button id="stats-submit" class="btn btn-default" type="submit">Save Stats</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="picture-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                    <h1>Picture of Sandwich</h1>

                                    <a href="#menu-toggle" class="btn btn-default" onclick="">Toggle Menu</a>
                                    <input type="text">
                                </div>
                                <div id="directions-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="build-header">Sandwich Build Directions</h1>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <form id="directions-form" class="text-center">
                                                <h3>Remind yourself, or the next guy how to build the sandwich</h3>
                                                <textarea id="directions-input" class="form-control build-textarea build-form-center build-form-roomy" rows="4" placeholder="Directions on how to put the sandwich together"></textarea>
                                                <button type="submit" class="btn btn default">Save Directions</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="overview-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="build-header">The Sandwich Build</h1>
                                        </div>
                                        <div id="overview-info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /#page-content-wrapper -->
                </div>
            </div>
        </div>
    </div>




<script type="text/template" id="build-template">
    <a id="<%= name %>"><dt><%= name %></dt></a>
    <!--<dd><%= description %></dd>-->
</script>

<script type="text/template" id="details-template">
    <div id="details-container">
        <div id="sandwich-picture" class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
        </div>
        <div id="build-details" class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="details-list" class="dl">

                <dt id="dt-details" class="text-center">Sandwich type:</dt>
                <dd id="dd-details" class="text-center"><%= sammichType %></dd>

                <dt id="dt-details" class="text-center">Stats:</dt>
                <dd id="dd-details">
                    <div class="col-sm-12 sideroomy">
                        <div class="col-sm-12 sideroomy">
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center ">
                                Spicy <br> <%= stats.spicy %>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center sideroomy">
                                Saltiness <br> <%= stats.saltiness %>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center ">
                                Sweet <br> <%= stats.sweet %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 sideroomy roomy">
                        <div class="col-sm-12">
                            <div class="col-sm-6 text-center sideroomy">
                                Sour <br> <%= stats.sour %>
                            </div>
                            <div class="col-sm-6 text-center sideroomy">
                                Savory <br> <%= stats.savory %>
                            </div>
                        </div>
                    </div>
                </dd>

                <dt id="dt-details" class="text-center">
                    Ingredients
                </dt>
                <dd>
                    <ul class="list-unstyled">
                        <% _.each(ingredients, function(ingredient)
                        { %>
                        <li class="text-center">&#8226; <%= ingredient %></li>
                        <% }); %>
                    </ul>
                </dd>
            </div>

        </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="comment-header" class="text-center bold">
            Comments
        </div>
        <%= comments %>
    </div>
</script>

<script type="text/template" id="overview-template">
    <div id="overview-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 roomy">
                <div id="overview-picture" class="building-layout">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                <div id="dl-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div id="dl-list" class="dl-horizontal text-left">
                        <dt>Name</dt>
                        <dd class="text-left"><%= name %></dd>

                        <dt>Description</dt>
                        <dd class="text-left"><% if(description) { %>
                            <%= description %> <% } %> </dd>

                        <dt>Materials</dt>
                        <dd class="text-left"><% ingredients.forEach(function(e) {%>
                            &#8226;<%= e %> &nbsp; <% }) %></dd>

                        <dt>Stats</dt>
                        <dd><% if(stats.sweet) { %>
                            Sweet: <%= stats.sweet %> &nbsp; Spicy: <%= stats.spicy %> &nbsp; Saltiness: <%= stats.saltiness %>
                            Savory: <%= stats.savory %> &nbsp; Sour: <%= stats.sour %> <% } else { %>
                            None Specified <% } %>  </dd>

                        <dt>Directions</dt>
                        <dd><% if(directions.length) { %>
                                <%= directions %> <% } else { %>
                                None Specified <% } %></dd>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                </div>
            </div>
        </div>
    </div>
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


</body>
</html>











