<!DOCTYPE html>
<html>
<head>
    <title>Sammich Builder</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <script src="/static/js/app.js"></script>
</head>
<body>




<div id="login-check">
    <div id="title-splash" class="container">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div id="title">
                    <p id="sammich">
                        Sammich
                    </p>
                    <p id="builder">
                        Builder
                    </p>
                </div>
                <!--<div id="sign-login" class="col-sm-12 container">-->
                <!--<div class="row  black-background">-->
                <!--<div class="col-sm-6 roomy">-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div  id="body-container" class="container col-sm-12">
        <div id="left-top" class="col-sm-8" >
            <div class="col-sm-12">
                <div id="craftsmen-name" class="col-sm-6  layout">
                    Craftsmen Name
                </div>
            </div>
            <br>
            <br>
            <div id="profile-area" class="col-sm-12 layout">
                Profile Area
            </div>
        </div>
        <div id="vacant" class="col-sm-4">
            <div id="vacant-title" class="col-sm-12 layout">
                Title
            </div><br><br>
            <div id="vacant-content" class="col-sm-12 layout">
                Content
            </div>
        </div>
        <br><br>

        <!--temporary-->
        <br><br><br><br>
        <div id="build-container" class="container col-sm-12 layout">
            <div id="building-nav" class="col-sm-2 building-layout">
                <div id="ingredients" class="col-sm-12">
                    Things
                </div>
            </div>
            <div class="col-sm-10" id="right">
                <div class="col-sm-6">
                    Things
                </div>
                <div class="col-sm-6">
                    Other things
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>











