<!DOCTYPE html>
<html>
<head>
    <title>Sammich Builder</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">


    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>

    <!--JS-->
    <script src="/static/js/app.js"></script>
</head>
<body>




<div id="login-check">
    <div id="title-splash" class="container">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div id="title">
                    <p id="sammich">
                        Sandwich
                    </p>
                    <p id="builder">
                        Builder
                    </p>
                </div>
                <!--<div id="sign-login" class="col-sm-12 container">-->
                <!--<div class="row  black-background">-->
                <!--<div class="col-sm-6 roomy">-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <!--<div class="col-sm-3">-->
                <!-- -->
            <!--</div>-->
        </div>
    </div>

    <div id="body-container" class="container col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        <div id="profile-area" class="col-sm-8" >
                <div class="col-sm-12">
                    <div id="craftsmen-name" class="col-sm-6 title-color">
                    </div>
                </div>
                <br>
                <br>
                <div id="profile-content" class="col-sm-12 layout">
                    <div class="col-sm-4">
                        <div id="profile-icon">
                            Icon
                        </div>
                    </div>
                    <div id="sammich-builds" class="col-sm-8">
                        <div id="builds-title" class="text-center col-sm-12"> Sandwich Builds </div><br>
                        <div id="build-note" class="col-sm-12 text-center">Click on a title to view more details</div>
                        <dl id="build-list" class="dl-horizontal">

                        </dl>
                    </div>
                </div>

            </div>
            <div id="vacant" class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div  id="vacant-title" class="title-color">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="vacant-content" class="col-sm-12 layout">

                    </div>
                </div>

            </div>
        </div>

        <div id="build-container" class="container col-sm-12 col-md-12 col-lg-12 layout">
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li id="instructions" class="sidebar-brand">
                            <a >
                                Start Bootstrap
                            </a>
                        </li>
                        <li id="info">
                            <a >Dashboard</a>
                        </li>
                        <li id="3">
                            <a href="#">Shortcuts</a>
                        </li>
                        <li id="4">
                            <a href="#">Overview</a>
                        </li>
                        <li id="5">
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="instructions-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                <h1>Simple Sidebar</h1>
                                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                <input type="text">
                            </div>
                            <div id="info-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none">
                                <h1>asjdbas,.jdb</h1>
                                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                                <a href="#menu-toggle" class="btn btn-default" id="toggle-test">Toggle Menu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </div>
</div>




<script type="text/template" id="build-template">
    <a id="<%= name %>"><dt><%= name %></dt></a>
    <dd><%= description %></dd>
</script>

<script type="text/template" id="details-template">
    <div id="details-container">
        <div id="sandwich-picture" class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
        </div>
        <div id="build-details" class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="details-list" class="dl">

                <dt id="dt-details" class="text-center">Sandwich type:</dt>
                <dd id="dd-details" class="text-center"><%= sammichType %></dd>

                <dt id="dt-details" class="text-center">Stats:</dt>
                <dd id="dd-details">
                    <div class="col-sm-12 sideroomy">
                        <div class="col-sm-12 sideroomy">
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center ">
                                Spicy <br> <%= stats.spicy %>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center sideroomy">
                                Saltiness <br> <%= stats.saltiness %>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center ">
                                Sweet <br> <%= stats.sweet %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 sideroomy roomy">
                        <div class="col-sm-12">
                            <div class="col-sm-6 text-center sideroomy">
                                Sour <br> <%= stats.sour %>
                            </div>
                            <div class="col-sm-6 text-center sideroomy">
                                Savory <br> <%= stats.savory %>
                            </div>
                        </div>
                    </div>
                </dd>

                <dt id="dt-details" class="text-center">
                    Ingredients
                </dt>
                <dd>
                    <ul class="list-unstyled">
                        <% _.each(ingredients, function(ingredient)
                        { %>
                        <li class="text-center">&#8226; <%= ingredient %></li>
                        <% }); %>
                    </ul>
                </dd>
            </div>

        </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="comment-header" class="text-center bold">
            Comments
        </div>
        <%= comments %>
    </div>



</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


<!--<div class="col-sm-12">-->
    <!--<dt>Sandwich type:</dt>-->
    <!--<dd><%= sammichType %></dd>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--&lt;!&ndash;<div id="sammich-stats" class="col-sm-12 text-center">&ndash;&gt;-->
<!--&lt;!&ndash; &ndash;&gt;-->
<!--&lt;!&ndash;</div><br>&ndash;&gt;-->
<!--<div class="col-sm-12">-->
    <!-- -->
<!--</div>-->
</body>
</html>











