<!DOCTYPE html>
<html>
<head>
    <title>Sandwich Builds</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <script src="/static/js/login-register.js"></script>

</head>
<body>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <div id="login-register" class="container">
        <div class="row vertical-center-row">
            <div class="col-md-6 col-md-offset-3">
                <div id="modal" class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="/login" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="email" name="user[email]" id="username-login" tabindex="1" class="form-control" placeholder="Email" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="user[password]" id="password-login" tabindex="2" class="form-control" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input id="submit-button" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register-form" action="/users" method="POST" enctype="multipart/form-data" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="user[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="user[email]" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div id="password-length" class="text-left">
                                                Minimum 7 characters
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <span id="length-check" class="text-center">Password contains <span id="pass-length"></span> characters</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="user[password]" id="password-signup" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <input id="image-input" class="build-form-roomy" type="file" name="image"/>
                                    <div class="form-group">
                                        <div class="row">
                                            <div id="submit-container" class="col-sm-6 col-sm-offset-3">
                                                <button type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" style="display: none;">Register</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
