#title-splash {
    height: 300px;
    width: 100%;
    background: url("/static/images/sandwich-cover.jpg") no-repeat center center fixed;
    background-position-y: -450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#title {
    height: 300px;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;

}

#sammich {
    font-size: 70px;
    position: relative;
    text-align: center;
    margin-bottom: -10px;
    top: 30px;
}

#builder {
    font-size: 140px;
    text-align: center;
    position: relative;
}

#body-container {
    padding-top: 70px;
    background-color: #E4E4E4;
}

#profile-area {
    height: 530px;
}

#craftsmen-name {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
    margin-left: 0px;
    padding-bottom: 14px;
    font-size: 40px;
    width: 100%;
}

#vacant-title {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 88px;
    margin-left: 0px;
    font-size: 30px;
}

#profile-content {
    height: 250px;
    overflow-y: auto;
}

#vacant-content {
    height: 250px;
}

#build-container {
    height: 800px;
}

#building-nav {
    margin-left: -15px;
    height: 800px;
}

#ingredients {

}

#sign-login {
    height: 50px;
}

#profile-icon {
    height: 175px;
    margin: 30px auto 20px;
    width: 175px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

#builds-title {
}

.roomy {
    margin-top: 5px;
    margin-bottom: 5px;
}

.layout {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F0FB96;
    border: 1px solid #F0FB96;
    border-radius: 2px;
}

.building-layout {
    background-color: rgba(255, 255, 255, 0.76);
}

.row.black-background {
    padding-top: 2px;
    height: 40px;
}